# Rede Neural Artificial para Regressão em Dados de Carros Usados
#### Aplicando uma rede neural densa multi-camada para um problema de Regressão.

### Importação das Bibliotecas

In [1]:
# importando a biblioteca pandas do python
import pandas as pd
# importando da biblioteca sklearn do python
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Importando o Dataset

In [3]:
# adicionando os dados do arquivo no objeto 'dataframe'
dataframe = pd.read_csv('/content/drive/My Drive/autos.csv', encoding = 'ISO-8859-1', sep = ',')

In [4]:
# visualizando o dataframe
dataframe

                dateCrawled  ...             lastSeen
0       2016-03-24 11:52:17  ...  2016-04-07 03:16:57
1       2016-03-24 10:58:45  ...  2016-04-07 01:46:50
2       2016-03-14 12:52:21  ...  2016-04-05 12:47:46
3       2016-03-17 16:54:04  ...  2016-03-17 17:40:17
4       2016-03-31 17:25:20  ...  2016-04-06 10:17:21
...                     ...  ...                  ...
371523  2016-03-14 17:48:27  ...  2016-04-06 00:46:52
371524  2016-03-05 19:56:21  ...  2016-03-11 18:17:12
371525  2016-03-19 18:57:12  ...  2016-04-07 07:15:26
371526  2016-03-20 19:41:08  ...  2016-03-24 12:45:21
371527  2016-03-07 19:39:19  ...  2016-03-22 03:17:10

[371528 rows x 20 columns]

### Removendo Colunas Irrelevantes

In [5]:
# removendo colunas da tabela que não possuem padronização nem relevância no preço dos veículos
dataframe = dataframe.drop('dateCrawled', axis = 1)
dataframe = dataframe.drop('dateCreated', axis = 1)
dataframe = dataframe.drop('nrOfPictures', axis = 1)
dataframe = dataframe.drop('postalCode', axis = 1)
dataframe = dataframe.drop('lastSeen', axis = 1)

In [6]:
# observando como a coluna 'name' está distribuida entre seus dados
dataframe['name'].value_counts()

Ford_Fiesta                                            657
BMW_318i                                               627
Opel_Corsa                                             622
Volkswagen_Golf_1.4                                    603
BMW_316i                                               523
                                                      ...
Mazda_626__schraegheck                                   1
Auto_mit_2_jahre_tuv                                     1
Iveco_Massif_3.0_HPT                                     1
Seat_Ibiza_1.4_TDI__TÜV_NEU_KUNDENDIENST_NEU_1.HAND      1
Smart_passion_cabrio_mhd_Servo/Navi/Sitzh./Garantie      1
Name: name, Length: 233531, dtype: int64

Observe que os nomes não possuem um padrão regular, além de existir uma grande variação entre esses dados, um mesmo automóvel está atribuido com diferentes tipos de nome. Por esse motivo, essa coluna não ajudará em nossa rede neural.

In [7]:
# removendo colunas da tabela que não possuem padronização nem relevância no preço dos veículos
dataframe = dataframe.drop('name', axis = 1)

In [8]:
# observando como a coluna 'seller' está distribuida entre seus dados
dataframe['seller'].value_counts()

privat        371525
gewerblich         3
Name: seller, dtype: int64

Os dados não possuem uma distribuição nas categorias 'privat' e 'gewerblich', eles estão aglomerados em 'privat', por esse motivo essa coluna não irá ajudar no desempenho da rede neural.

In [9]:
# removendo colunas da tabela que não possuem padronização nem relevância no preço dos veículos
dataframe = dataframe.drop('seller', axis = 1)

In [10]:
# observando como a coluna 'offerType' está distribuida entre seus dados
dataframe['offerType'].value_counts()

Angebot    371516
Gesuch         12
Name: offerType, dtype: int64

Mesma situação da coluna 'seller', os dados estão distrubuidos de forma errônea.

In [11]:
# removendo colunas da tabela que não possuem padronização nem relevância no preço dos veículos
dataframe = dataframe.drop('offerType', axis = 1)

In [12]:
# visualizando o dataframe
dataframe

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
0         480     test         NaN  ...    benzin      volkswagen                NaN
1       18300     test       coupe  ...    diesel            audi                 ja
2        9800     test         suv  ...    diesel            jeep                NaN
3        1500     test  kleinwagen  ...    benzin      volkswagen               nein
4        3600     test  kleinwagen  ...    diesel           skoda               nein
...       ...      ...         ...  ...       ...             ...                ...
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN
371524   1199     test      cabrio  ...    benzin           smart               nein
371525   9200     test         bus  ...    diesel      volkswagen               nein
371526   3400     test       kombi  ...    diesel      volkswagen                NaN
371527  28990  control   limousine  ...    benzin             bmw               nein

[371528 rows x 12 columns]

### Remoção de Valores Inconsistentes

In [13]:
# observando os dados com preço abaixo de 10 euros
dataframe.loc[dataframe.price <= 10]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
7           0     test   limousine  ...    benzin      volkswagen               nein
40          0     test         NaN  ...    benzin            opel                NaN
60          1  control         suv  ...       NaN  sonstige_autos                NaN
91          1  control   limousine  ...    diesel   mercedes_benz               nein
115         0     test         NaN  ...    benzin      volkswagen                NaN
...       ...      ...         ...  ...       ...             ...                ...
371356      0  control         NaN  ...       NaN            opel                 ja
371392      0     test  kleinwagen  ...    benzin            ford                NaN
371402      0  control  kleinwagen  ...    benzin          suzuki                NaN
371431      0  control  kleinwagen  ...    benzin            seat                 ja
371522      0  control         NaN  ...    benzin      mitsubishi                 ja

[12118 rows x 12 columns]

In [14]:
# observando a média dos preços dos veículos
dataframe.price.mean()

17295.14186548524

Observe que a média de preços não condiz com os carros que custam menos que 10 euros. Devemos removê-los dos dados (outra alternativa é substituir pelo valor médio dos registros com valor correto, mas nesse caso estariamos alterando muitos dados com um valor que talvez não seja o preço real).

In [15]:
# removendo os registros que o preço dos veículos são abaixo de 10 euros
dataframe = dataframe[dataframe.price > 10]

In [16]:
# observando os dados com preço acima de 350000 euros
dataframe.loc[dataframe.price > 350000]

           price   abtest  ...           brand  notRepairedDamage
1846      579000  control  ...             bmw               nein
10649     420000  control  ...         porsche               nein
14663   11111111  control  ...      volkswagen                NaN
16889    1000000  control  ...            ford                 ja
20143    1250000     test  ...         porsche               nein
...          ...      ...  ...             ...                ...
364171   3890000     test  ...  sonstige_autos               nein
365461    599000  control  ...             bmw               nein
366653  99999999  control  ...             bmw                NaN
366861   3895000     test  ...  sonstige_autos               nein
367041   1600000     test  ...  sonstige_autos               nein

[115 rows x 12 columns]

Para os carros que custam mais que 350000 euros os valores também parecem inconsistentes.

In [17]:
# removendo os registros que o preço dos veículos são acima de 350000 euros
dataframe = dataframe.loc[dataframe.price < 350000]

### Remoção de Valores Faltantes

In [18]:
# observando os registros com valores faltantes na coluna 'vehicleType'
dataframe.loc[pd.isnull(dataframe['vehicleType'])]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
0         480     test         NaN  ...    benzin      volkswagen                NaN
16        300     test         NaN  ...    benzin      volkswagen                NaN
22       2900     test         NaN  ...    benzin            opel               nein
26       5555  control         NaN  ...       NaN         citroen               nein
31        899  control         NaN  ...    benzin         renault                NaN
...       ...      ...         ...  ...       ...             ...                ...
371495    180  control         NaN  ...    benzin            opel                NaN
371504   2600  control         NaN  ...       NaN   mercedes_benz                NaN
371509   1900     test         NaN  ...       NaN      volkswagen               nein
371519   5250  control         NaN  ...       NaN      alfa_romeo               nein
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN

[33546 rows x 12 columns]

In [19]:
# visualizando o tipo de veículo com uma maior moda
dataframe['vehicleType'].value_counts() # limousine

limousine     93614
kleinwagen    78014
kombi         65921
bus           29699
cabrio        22509
coupe         18386
suv           14477
andere         3125
Name: vehicleType, dtype: int64

In [20]:
# observando os registros com valores faltantes na coluna 'gearbox'
dataframe.loc[pd.isnull(dataframe['gearbox'])]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
15        450     test  kleinwagen  ...    benzin            ford                NaN
16        300     test         NaN  ...    benzin      volkswagen                NaN
32        245     test   limousine  ...    benzin      volkswagen               nein
37       1500     test         NaN  ...    diesel         renault               nein
70       1200     test       coupe  ...       NaN            opel                NaN
...       ...      ...         ...  ...       ...             ...                ...
371443   3300  control       kombi  ...    diesel      volkswagen                NaN
371460   3500  control         NaN  ...       NaN      volkswagen                NaN
371486    350  control  kleinwagen  ...       NaN            fiat                NaN
371495    180  control         NaN  ...    benzin            opel                NaN
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN

[17236 rows x 12 columns]

In [21]:
# visualizando o tipo de câmbio com uma maior moda
dataframe['gearbox'].value_counts() # manuell

manuell      266547
automatik     75508
Name: gearbox, dtype: int64

In [22]:
# observando os registros com valores faltantes na coluna 'model'
dataframe.loc[pd.isnull(dataframe['model'])]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
1       18300     test       coupe  ...    diesel            audi                 ja
83        350  control  kleinwagen  ...       NaN            fiat                 ja
139      1450  control   limousine  ...       NaN            audi               nein
156      6799  control  kleinwagen  ...    benzin      volkswagen               nein
165       500  control  kleinwagen  ...    benzin         renault               nein
...       ...      ...         ...  ...       ...             ...                ...
371399    560  control  kleinwagen  ...    benzin            fiat                 ja
371476   9400  control       kombi  ...    diesel  sonstige_autos                 ja
371495    180  control         NaN  ...    benzin            opel                NaN
371509   1900     test         NaN  ...       NaN      volkswagen               nein
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN

[17967 rows x 12 columns]

In [23]:
# visualizando o tipo de modelo com uma maior moda
dataframe['model'].value_counts() # golf

golf               28989
andere             25560
3er                19905
polo               12604
corsa              12149
                   ...
serie_2                8
rangerover             6
serie_3                3
discovery_sport        1
serie_1                1
Name: model, Length: 251, dtype: int64

In [24]:
# observando os registros com valores faltantes na coluna 'fuelType'
dataframe.loc[pd.isnull(dataframe['fuelType'])]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
9         999     test  kleinwagen  ...       NaN      volkswagen                NaN
13       2500  control       kombi  ...       NaN      volkswagen               nein
26       5555  control         NaN  ...       NaN         citroen               nein
36       1600  control      andere  ...       NaN            opel                NaN
41       7500  control   limousine  ...       NaN   mercedes_benz                NaN
...       ...      ...         ...  ...       ...             ...                ...
371496   3850     test      cabrio  ...       NaN         peugeot               nein
371504   2600  control         NaN  ...       NaN   mercedes_benz                NaN
371509   1900     test         NaN  ...       NaN      volkswagen               nein
371519   5250  control         NaN  ...       NaN      alfa_romeo               nein
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN

[29391 rows x 12 columns]

In [25]:
# visualizando o tipo de combustível com uma maior moda
dataframe['fuelType'].value_counts() # benzin

benzin     217582
diesel     106002
lpg          5222
cng           557
hybrid        271
andere        165
elektro       101
Name: fuelType, dtype: int64

In [26]:
# observando os registros com valores faltantes na coluna 'notRepairedDamage'
dataframe.loc[pd.isnull(dataframe['notRepairedDamage'])]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
0         480     test         NaN  ...    benzin      volkswagen                NaN
2        9800     test         suv  ...    diesel            jeep                NaN
8       14500  control         bus  ...    benzin            ford                NaN
9         999     test  kleinwagen  ...       NaN      volkswagen                NaN
12        999  control       kombi  ...    benzin      volkswagen                NaN
...       ...      ...         ...  ...       ...             ...                ...
371507   5999     test       kombi  ...    diesel            audi                NaN
371514    999  control      cabrio  ...    benzin         renault                NaN
371515   1690     test       kombi  ...    benzin           skoda                NaN
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN
371526   3400     test       kombi  ...    diesel      volkswagen                NaN

[65986 rows x 12 columns]

In [27]:
# visualizando o valor da moda para se o carro já sofreu algum reparo mecânico
dataframe['notRepairedDamage'].value_counts() # nein

nein    259301
ja       34004
Name: notRepairedDamage, dtype: int64

In [28]:
# criando um dicionário com o valor da moda de cada uma das colunas de dados 
valores = {'vehicleType': 'limousine',
           'gearbox': 'manuell',
           'model': 'golf',
           'fuelType': 'benzin',
           'notRepairedDamage': 'nein'}

In [29]:
# substituindo os valores faltantes pela moda entre os dados
dataframe = dataframe.fillna(value = valores)

### Separando os Atributos Previsores e Meta

In [30]:
# separando os atributos previsores dos atributos meta
previsores = dataframe.iloc[:, 1:13].values
meta = dataframe.iloc[:, 0].values

In [31]:
# visualizando o dataframe
dataframe

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
0         480     test   limousine  ...    benzin      volkswagen               nein
1       18300     test       coupe  ...    diesel            audi                 ja
2        9800     test         suv  ...    diesel            jeep               nein
3        1500     test  kleinwagen  ...    benzin      volkswagen               nein
4        3600     test  kleinwagen  ...    diesel           skoda               nein
...       ...      ...         ...  ...       ...             ...                ...
371523   2200     test   limousine  ...    benzin  sonstige_autos               nein
371524   1199     test      cabrio  ...    benzin           smart               nein
371525   9200     test         bus  ...    diesel      volkswagen               nein
371526   3400     test       kombi  ...    diesel      volkswagen               nein
371527  28990  control   limousine  ...    benzin             bmw               nein

[359291 rows x 12 columns]

### Transformando os Atributos Categóricos em Numéricos

In [32]:
# criando o objeto 'labelencoder_previsores'
labelencoder_previsores = LabelEncoder()

In [33]:
# realizando a transformação dos atributos categóricos em numéricos
previsores[:, 0] = labelencoder_previsores.fit_transform(previsores[:, 0])

In [34]:
# realizando a transformação dos atributos categóricos em numéricos
previsores[:, 1] = labelencoder_previsores.fit_transform(previsores[:, 1])

In [35]:
# realizando a transformação dos atributos categóricos em numéricos
previsores[:, 3] = labelencoder_previsores.fit_transform(previsores[:, 3])

In [36]:
# realizando a transformação dos atributos categóricos em numéricos
previsores[:, 5] = labelencoder_previsores.fit_transform(previsores[:, 5])

In [37]:
# realizando a transformação dos atributos categóricos em numéricos
previsores[:, 8] = labelencoder_previsores.fit_transform(previsores[:, 8])

In [38]:
# realizando a transformação dos atributos categóricos em numéricos
previsores[:, 9] = labelencoder_previsores.fit_transform(previsores[:, 9])

In [39]:
# realizando a transformação dos atributos categóricos em numéricos
previsores[:, 10] = labelencoder_previsores.fit_transform(previsores[:, 10])

In [40]:
# visualizando os atributos previsores
print(previsores)

[[1 6 1993 ... 1 38 1]
 [1 3 2011 ... 3 1 0]
 [1 7 2004 ... 3 14 1]
 ...
 [1 1 1996 ... 3 38 1]
 [1 5 2002 ... 3 38 1]
 [0 6 2013 ... 1 2 1]]

### Transformando Valores Numéricos em Variáveis do Tipo Dummy

In [41]:
# criando o objeto 'onehotencoder'
onehotencorder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), 
                                                  [0,1,3,5,8,9,10])], remainder='passthrough')

In [42]:
# transformando os atributos previsores em variávies do tipo dummy
previsores = onehotencorder.fit_transform(previsores).toarray()

In [43]:
# visualizando a dimensão dos atributos previsores
previsores.shape

(359291, 316)

In [44]:
# visualizando os atributos previsores
print(previsores)

[[0.00e+00 1.00e+00 0.00e+00 ... 0.00e+00 1.50e+05 0.00e+00]
 [0.00e+00 1.00e+00 0.00e+00 ... 1.90e+02 1.25e+05 5.00e+00]
 [0.00e+00 1.00e+00 0.00e+00 ... 1.63e+02 1.25e+05 8.00e+00]
 ...
 [0.00e+00 1.00e+00 0.00e+00 ... 1.02e+02 1.50e+05 3.00e+00]
 [0.00e+00 1.00e+00 0.00e+00 ... 1.00e+02 1.50e+05 6.00e+00]
 [1.00e+00 0.00e+00 0.00e+00 ... 3.20e+02 5.00e+04 8.00e+00]]

In [45]:
# visualizando os atributos meta
print(meta)

[  480 18300  9800 ...  9200  3400 28990]

## Montando a Rede Neural

### Importação das Bibliotecas

In [47]:
# importando da bibliotecas keras do python
from keras.models import Sequential
from keras.layers import Dense

### Estrutura da Rede Neural

In [48]:
# criando o objeto 'regressor'
regressor = Sequential()

In [49]:
# adicionando a primeira camada densa na rede neural
regressor.add(Dense(units = 158, activation = 'relu', 
                   input_dim = 316))

In [50]:
# adicionando a segunda camada densa na rede neural
regressor.add(Dense(units = 158, activation = 'relu'))

In [51]:
# adicionando a camada de saída na rede neural
regressor.add(Dense(units = 1, activation = 'linear'))
# como é um problema de regressão, a função de ativação não pode
# alterar o valor da saída

In [52]:
# ajustando os parâmetros da rede
regressor.compile(loss = 'mean_absolute_error', optimizer = 'adam',
                 metrics = ['mean_absolute_error'])

### Treinando a Rede Neural

In [54]:
# treinando a rede neural com o soatriutos previsores e meta
regressor.fit(previsores, meta, batch_size = 300, epochs = 500)

Epoch 1/500
359291/359291 [==============================] - 6s 18us/step - loss: 3845.3767 - mean_absolute_error: 3845.3767
Epoch 2/500
359291/359291 [==============================] - 6s 17us/step - loss: 3310.8011 - mean_absolute_error: 3310.7998
Epoch 3/500
359291/359291 [==============================] - 6s 17us/step - loss: 3007.6823 - mean_absolute_error: 3007.6829
Epoch 4/500
359291/359291 [==============================] - 6s 17us/step - loss: 2852.1003 - mean_absolute_error: 2852.1011
Epoch 5/500
359291/359291 [==============================] - 6s 17us/step - loss: 2777.2537 - mean_absolute_error: 2777.2542
Epoch 6/500
359291/359291 [==============================] - 6s 17us/step - loss: 2735.6421 - mean_absolute_error: 2735.6428
Epoch 7/500
359291/359291 [==============================] - 6s 18us/step - loss: 2706.2265 - mean_absolute_error: 2706.2278
Epoch 8/500
359291/359291 [==============================] - 6s 18us/step - loss: 2658.0780 - mean_absolute_error: 2658.0784
Epoch 9/500
359291/359291 [==============================] - 6s 18us/step - loss: 2631.2584 - mean_absolute_error: 2631.2563
Epoch 10/500
359291/359291 [==============================] - 7s 19us/step - loss: 2574.0822 - mean_absolute_error: 2574.0820
Epoch 11/500
359291/359291 [==============================] - 7s 21us/step - loss: 2537.8693 - mean_absolute_error: 2537.8706
Epoch 12/500
359291/359291 [==============================] - 7s 19us/step - loss: 2524.9942 - mean_absolute_error: 2524.9954
Epoch 13/500
359291/359291 [==============================] - 7s 19us/step - loss: 2496.5212 - mean_absolute_error: 2496.5215
Epoch 14/500
359291/359291 [==============================] - 7s 19us/step - loss: 2483.4728 - mean_absolute_error: 2483.4724
Epoch 15/500
359291/359291 [==============================] - 7s 19us/step - loss: 2471.4530 - mean_absolute_error: 2471.4517
Epoch 16/500
359291/359291 [==============================] - 7s 18us/step - loss: 2457.9368 - mean_absolute_error: 2457.9368
Epoch 17/500
359291/359291 [==============================] - 7s 20us/step - loss: 2454.7442 - mean_absolute_error: 2454.7439
Epoch 18/500
359291/359291 [==============================] - 7s 20us/step - loss: 2439.8533 - mean_absolute_error: 2439.8535
Epoch 19/500
359291/359291 [==============================] - 7s 20us/step - loss: 2446.5244 - mean_absolute_error: 2446.5247
Epoch 20/500
359291/359291 [==============================] - 7s 20us/step - loss: 2421.2770 - mean_absolute_error: 2421.2761
Epoch 21/500
359291/359291 [==============================] - 7s 20us/step - loss: 2416.0161 - mean_absolute_error: 2416.0159
Epoch 22/500
359291/359291 [==============================] - 7s 20us/step - loss: 2393.0269 - mean_absolute_error: 2393.0281
Epoch 23/500
359291/359291 [==============================] - 7s 18us/step - loss: 2402.1985 - mean_absolute_error: 2402.1985
Epoch 24/500
359291/359291 [==============================] - 6s 18us/step - loss: 2396.5523 - mean_absolute_error: 2396.5525
Epoch 25/500
359291/359291 [==============================] - 7s 19us/step - loss: 2387.8818 - mean_absolute_error: 2387.8835
Epoch 26/500
359291/359291 [==============================] - 7s 19us/step - loss: 2374.2019 - mean_absolute_error: 2374.2021
Epoch 27/500
359291/359291 [==============================] - 6s 17us/step - loss: 2394.7120 - mean_absolute_error: 2394.7122
Epoch 28/500
359291/359291 [==============================] - 6s 18us/step - loss: 2366.0927 - mean_absolute_error: 2366.0945
Epoch 29/500
359291/359291 [==============================] - 6s 17us/step - loss: 2384.0057 - mean_absolute_error: 2384.0063
Epoch 30/500
359291/359291 [==============================] - 7s 19us/step - loss: 2346.4093 - mean_absolute_error: 2346.4077
Epoch 31/500
359291/359291 [==============================] - 7s 20us/step - loss: 2369.4581 - mean_absolute_error: 2369.4592
Epoch 32/500
359291/359291 [==============================] - 7s 18us/step - loss: 2357.5106 - mean_absolute_error: 2357.5090
Epoch 33/500
359291/359291 [==============================] - 7s 18us/step - loss: 2346.0430 - mean_absolute_error: 2346.0447
Epoch 34/500
359291/359291 [==============================] - 7s 18us/step - loss: 2360.7717 - mean_absolute_error: 2360.7734
Epoch 35/500
359291/359291 [==============================] - 6s 18us/step - loss: 2349.2627 - mean_absolute_error: 2349.2615
Epoch 36/500
359291/359291 [==============================] - 6s 18us/step - loss: 2349.8905 - mean_absolute_error: 2349.8916
Epoch 37/500
359291/359291 [==============================] - 6s 18us/step - loss: 2332.5284 - mean_absolute_error: 2332.5291
Epoch 38/500
359291/359291 [==============================] - 7s 18us/step - loss: 2344.6796 - mean_absolute_error: 2344.6782
Epoch 39/500
359291/359291 [==============================] - 6s 18us/step - loss: 2340.2806 - mean_absolute_error: 2340.2793
Epoch 40/500
359291/359291 [==============================] - 7s 19us/step - loss: 2341.6158 - mean_absolute_error: 2341.6165
Epoch 41/500
359291/359291 [==============================] - 7s 20us/step - loss: 2326.0210 - mean_absolute_error: 2326.0205
Epoch 42/500
359291/359291 [==============================] - 7s 20us/step - loss: 2334.2915 - mean_absolute_error: 2334.2932
Epoch 43/500
359291/359291 [==============================] - 7s 18us/step - loss: 2319.2535 - mean_absolute_error: 2319.2522
Epoch 44/500
359291/359291 [==============================] - 7s 18us/step - loss: 2305.8219 - mean_absolute_error: 2305.8215
Epoch 45/500
359291/359291 [==============================] - 7s 19us/step - loss: 2324.3156 - mean_absolute_error: 2324.3174
Epoch 46/500
359291/359291 [==============================] - 7s 19us/step - loss: 2322.7821 - mean_absolute_error: 2322.7805
Epoch 47/500
359291/359291 [==============================] - 7s 20us/step - loss: 2323.0871 - mean_absolute_error: 2323.0847
Epoch 48/500
359291/359291 [==============================] - 7s 19us/step - loss: 2307.9063 - mean_absolute_error: 2307.9060
Epoch 49/500
359291/359291 [==============================] - 6s 18us/step - loss: 2315.1030 - mean_absolute_error: 2315.1038
Epoch 50/500
359291/359291 [==============================] - 6s 18us/step - loss: 2314.6577 - mean_absolute_error: 2314.6592
Epoch 51/500
359291/359291 [==============================] - 7s 18us/step - loss: 2321.9111 - mean_absolute_error: 2321.9124
Epoch 52/500
359291/359291 [==============================] - 6s 18us/step - loss: 2316.4302 - mean_absolute_error: 2316.4297
Epoch 53/500
359291/359291 [==============================] - 6s 18us/step - loss: 2299.3485 - mean_absolute_error: 2299.3469
Epoch 54/500
359291/359291 [==============================] - 6s 18us/step - loss: 2295.1061 - mean_absolute_error: 2295.1033
Epoch 55/500
359291/359291 [==============================] - 7s 19us/step - loss: 2298.1624 - mean_absolute_error: 2298.1628
Epoch 56/500
359291/359291 [==============================] - 7s 20us/step - loss: 2298.3417 - mean_absolute_error: 2298.3398
Epoch 57/500
359291/359291 [==============================] - 6s 18us/step - loss: 2296.6664 - mean_absolute_error: 2296.6653
Epoch 58/500
359291/359291 [==============================] - 7s 19us/step - loss: 2292.6979 - mean_absolute_error: 2292.6948
Epoch 59/500
359291/359291 [==============================] - 7s 18us/step - loss: 2285.4554 - mean_absolute_error: 2285.4578
Epoch 60/500
359291/359291 [==============================] - 6s 18us/step - loss: 2289.8075 - mean_absolute_error: 2289.8074
Epoch 61/500
359291/359291 [==============================] - 7s 18us/step - loss: 2292.4221 - mean_absolute_error: 2292.4192
Epoch 62/500
359291/359291 [==============================] - 7s 18us/step - loss: 2286.8209 - mean_absolute_error: 2286.8215
Epoch 63/500
359291/359291 [==============================] - 6s 18us/step - loss: 2280.5740 - mean_absolute_error: 2280.5720
Epoch 64/500
359291/359291 [==============================] - 6s 18us/step - loss: 2279.7518 - mean_absolute_error: 2279.7517
Epoch 65/500
359291/359291 [==============================] - 7s 18us/step - loss: 2289.0667 - mean_absolute_error: 2289.0674
Epoch 66/500
359291/359291 [==============================] - 7s 18us/step - loss: 2274.5544 - mean_absolute_error: 2274.5540
Epoch 67/500
359291/359291 [==============================] - 6s 18us/step - loss: 2281.3384 - mean_absolute_error: 2281.3389
Epoch 68/500
359291/359291 [==============================] - 7s 18us/step - loss: 2281.5746 - mean_absolute_error: 2281.5737
Epoch 69/500
359291/359291 [==============================] - 7s 18us/step - loss: 2270.2662 - mean_absolute_error: 2270.2646
Epoch 70/500
359291/359291 [==============================] - 6s 18us/step - loss: 2266.2602 - mean_absolute_error: 2266.2600
Epoch 71/500
359291/359291 [==============================] - 7s 18us/step - loss: 2271.8317 - mean_absolute_error: 2271.8320
Epoch 72/500
359291/359291 [==============================] - 6s 18us/step - loss: 2267.8464 - mean_absolute_error: 2267.8455
Epoch 73/500
359291/359291 [==============================] - 6s 18us/step - loss: 2258.4741 - mean_absolute_error: 2258.4741
Epoch 74/500
359291/359291 [==============================] - 6s 17us/step - loss: 2271.5501 - mean_absolute_error: 2271.5510
Epoch 75/500
359291/359291 [==============================] - 6s 18us/step - loss: 2259.3901 - mean_absolute_error: 2259.3921
Epoch 76/500
359291/359291 [==============================] - 6s 18us/step - loss: 2272.0189 - mean_absolute_error: 2272.0198
Epoch 77/500
359291/359291 [==============================] - 6s 18us/step - loss: 2249.5446 - mean_absolute_error: 2249.5464
Epoch 78/500
359291/359291 [==============================] - 6s 18us/step - loss: 2252.6202 - mean_absolute_error: 2252.6191
Epoch 79/500
359291/359291 [==============================] - 6s 17us/step - loss: 2252.0154 - mean_absolute_error: 2252.0173
Epoch 80/500
359291/359291 [==============================] - 6s 18us/step - loss: 2261.7600 - mean_absolute_error: 2261.7585
Epoch 81/500
359291/359291 [==============================] - 6s 18us/step - loss: 2263.9071 - mean_absolute_error: 2263.9065
Epoch 82/500
359291/359291 [==============================] - 6s 18us/step - loss: 2254.7593 - mean_absolute_error: 2254.7585
Epoch 83/500
359291/359291 [==============================] - 6s 17us/step - loss: 2259.9111 - mean_absolute_error: 2259.9099
Epoch 84/500
359291/359291 [==============================] - 6s 17us/step - loss: 2254.1990 - mean_absolute_error: 2254.1997
Epoch 85/500
359291/359291 [==============================] - 7s 18us/step - loss: 2250.4991 - mean_absolute_error: 2250.4973
Epoch 86/500
359291/359291 [==============================] - 7s 19us/step - loss: 2251.2010 - mean_absolute_error: 2251.2009
Epoch 87/500
359291/359291 [==============================] - 7s 19us/step - loss: 2250.3004 - mean_absolute_error: 2250.3022
Epoch 88/500
359291/359291 [==============================] - 7s 18us/step - loss: 2241.9138 - mean_absolute_error: 2241.9148
Epoch 89/500
359291/359291 [==============================] - 6s 17us/step - loss: 2255.0135 - mean_absolute_error: 2255.0122
Epoch 90/500
359291/359291 [==============================] - 6s 18us/step - loss: 2244.4385 - mean_absolute_error: 2244.4387
Epoch 91/500
359291/359291 [==============================] - 6s 17us/step - loss: 2237.6658 - mean_absolute_error: 2237.6658
Epoch 92/500
359291/359291 [==============================] - 6s 18us/step - loss: 2248.3029 - mean_absolute_error: 2248.3020
Epoch 93/500
359291/359291 [==============================] - 6s 17us/step - loss: 2244.6153 - mean_absolute_error: 2244.6165
Epoch 94/500
359291/359291 [==============================] - 6s 18us/step - loss: 2242.4338 - mean_absolute_error: 2242.4324
Epoch 95/500
359291/359291 [==============================] - 6s 17us/step - loss: 2233.7107 - mean_absolute_error: 2233.7119
Epoch 96/500
359291/359291 [==============================] - 6s 17us/step - loss: 2239.5530 - mean_absolute_error: 2239.5542
Epoch 97/500
359291/359291 [==============================] - 6s 18us/step - loss: 2233.8087 - mean_absolute_error: 2233.8069
Epoch 98/500
359291/359291 [==============================] - 6s 17us/step - loss: 2227.3692 - mean_absolute_error: 2227.3691
Epoch 99/500
359291/359291 [==============================] - 6s 18us/step - loss: 2248.8294 - mean_absolute_error: 2248.8289
Epoch 100/500
359291/359291 [==============================] - 6s 17us/step - loss: 2238.3657 - mean_absolute_error: 2238.3660
Epoch 101/500
359291/359291 [==============================] - 6s 17us/step - loss: 2226.1371 - mean_absolute_error: 2226.1367
Epoch 102/500
359291/359291 [==============================] - 6s 17us/step - loss: 2231.0896 - mean_absolute_error: 2231.0894
Epoch 103/500
359291/359291 [==============================] - 6s 18us/step - loss: 2224.9035 - mean_absolute_error: 2224.9038
Epoch 104/500
359291/359291 [==============================] - 6s 17us/step - loss: 2224.1589 - mean_absolute_error: 2224.1604
Epoch 105/500
359291/359291 [==============================] - 6s 17us/step - loss: 2240.8401 - mean_absolute_error: 2240.8396
Epoch 106/500
359291/359291 [==============================] - 7s 18us/step - loss: 2235.5577 - mean_absolute_error: 2235.5588
Epoch 107/500
359291/359291 [==============================] - 7s 18us/step - loss: 2225.3218 - mean_absolute_error: 2225.3218
Epoch 108/500
359291/359291 [==============================] - 6s 18us/step - loss: 2237.8721 - mean_absolute_error: 2237.8711
Epoch 109/500
359291/359291 [==============================] - 6s 18us/step - loss: 2236.0389 - mean_absolute_error: 2236.0388
Epoch 110/500
359291/359291 [==============================] - 7s 18us/step - loss: 2225.3533 - mean_absolute_error: 2225.3533
Epoch 111/500
359291/359291 [==============================] - 7s 19us/step - loss: 2224.3684 - mean_absolute_error: 2224.3684
Epoch 112/500
359291/359291 [==============================] - 6s 17us/step - loss: 2227.1326 - mean_absolute_error: 2227.1321
Epoch 113/500
359291/359291 [==============================] - 6s 18us/step - loss: 2214.4027 - mean_absolute_error: 2214.4001
Epoch 114/500
359291/359291 [==============================] - 6s 17us/step - loss: 2227.3984 - mean_absolute_error: 2227.3975
Epoch 115/500
359291/359291 [==============================] - 6s 17us/step - loss: 2236.5035 - mean_absolute_error: 2236.5039
Epoch 116/500
359291/359291 [==============================] - 7s 18us/step - loss: 2221.7786 - mean_absolute_error: 2221.7795
Epoch 117/500
359291/359291 [==============================] - 6s 17us/step - loss: 2219.3716 - mean_absolute_error: 2219.3721
Epoch 118/500
359291/359291 [==============================] - 6s 18us/step - loss: 2223.3521 - mean_absolute_error: 2223.3525
Epoch 119/500
359291/359291 [==============================] - 6s 17us/step - loss: 2208.7715 - mean_absolute_error: 2208.7708
Epoch 120/500
359291/359291 [==============================] - 6s 17us/step - loss: 2220.7408 - mean_absolute_error: 2220.7400
Epoch 121/500
359291/359291 [==============================] - 6s 17us/step - loss: 2218.2484 - mean_absolute_error: 2218.2495
Epoch 122/500
359291/359291 [==============================] - 7s 18us/step - loss: 2214.0383 - mean_absolute_error: 2214.0378
Epoch 123/500
359291/359291 [==============================] - 7s 20us/step - loss: 2219.5667 - mean_absolute_error: 2219.5681
Epoch 124/500
359291/359291 [==============================] - 6s 18us/step - loss: 2214.6756 - mean_absolute_error: 2214.6768
Epoch 125/500
359291/359291 [==============================] - 6s 17us/step - loss: 2211.8238 - mean_absolute_error: 2211.8250
Epoch 126/500
359291/359291 [==============================] - 6s 17us/step - loss: 2218.4806 - mean_absolute_error: 2218.4819
Epoch 127/500
359291/359291 [==============================] - 7s 18us/step - loss: 2221.9606 - mean_absolute_error: 2221.9619
Epoch 128/500
359291/359291 [==============================] - 7s 19us/step - loss: 2209.0875 - mean_absolute_error: 2209.0881
Epoch 129/500
359291/359291 [==============================] - 6s 17us/step - loss: 2209.0299 - mean_absolute_error: 2209.0293
Epoch 130/500
359291/359291 [==============================] - 6s 17us/step - loss: 2219.9034 - mean_absolute_error: 2219.9021
Epoch 131/500
359291/359291 [==============================] - 6s 17us/step - loss: 2214.0309 - mean_absolute_error: 2214.0300
Epoch 132/500
359291/359291 [==============================] - 6s 17us/step - loss: 2224.1041 - mean_absolute_error: 2224.1055
Epoch 133/500
359291/359291 [==============================] - 6s 18us/step - loss: 2209.6267 - mean_absolute_error: 2209.6265
Epoch 134/500
359291/359291 [==============================] - 6s 18us/step - loss: 2211.3634 - mean_absolute_error: 2211.3630
Epoch 135/500
359291/359291 [==============================] - 6s 17us/step - loss: 2208.3830 - mean_absolute_error: 2208.3835
Epoch 136/500
359291/359291 [==============================] - 7s 19us/step - loss: 2213.1657 - mean_absolute_error: 2213.1650
Epoch 137/500
359291/359291 [==============================] - 7s 19us/step - loss: 2211.9938 - mean_absolute_error: 2211.9939
Epoch 138/500
359291/359291 [==============================] - 7s 19us/step - loss: 2206.4896 - mean_absolute_error: 2206.4893
Epoch 139/500
359291/359291 [==============================] - 6s 18us/step - loss: 2204.9039 - mean_absolute_error: 2204.9050
Epoch 140/500
359291/359291 [==============================] - 7s 19us/step - loss: 2208.5535 - mean_absolute_error: 2208.5544
Epoch 141/500
359291/359291 [==============================] - 7s 19us/step - loss: 2205.7474 - mean_absolute_error: 2205.7463
Epoch 142/500
359291/359291 [==============================] - 6s 18us/step - loss: 2199.5617 - mean_absolute_error: 2199.5623
Epoch 143/500
359291/359291 [==============================] - 6s 18us/step - loss: 2202.2242 - mean_absolute_error: 2202.2222
Epoch 144/500
359291/359291 [==============================] - 7s 19us/step - loss: 2201.5507 - mean_absolute_error: 2201.5515
Epoch 145/500
359291/359291 [==============================] - 7s 19us/step - loss: 2193.5063 - mean_absolute_error: 2193.5056
Epoch 146/500
359291/359291 [==============================] - 7s 19us/step - loss: 2205.6780 - mean_absolute_error: 2205.6772
Epoch 147/500
359291/359291 [==============================] - 6s 18us/step - loss: 2200.6602 - mean_absolute_error: 2200.6602
Epoch 148/500
359291/359291 [==============================] - 7s 21us/step - loss: 2194.7705 - mean_absolute_error: 2194.7690
Epoch 149/500
359291/359291 [==============================] - 8s 21us/step - loss: 2198.7188 - mean_absolute_error: 2198.7192
Epoch 150/500
359291/359291 [==============================] - 7s 20us/step - loss: 2207.9293 - mean_absolute_error: 2207.9292
Epoch 151/500
359291/359291 [==============================] - 7s 19us/step - loss: 2200.0778 - mean_absolute_error: 2200.0793
Epoch 152/500
359291/359291 [==============================] - 6s 18us/step - loss: 2200.1399 - mean_absolute_error: 2200.1411
Epoch 153/500
359291/359291 [==============================] - 7s 19us/step - loss: 2206.7226 - mean_absolute_error: 2206.7224
Epoch 154/500
359291/359291 [==============================] - 7s 18us/step - loss: 2193.5887 - mean_absolute_error: 2193.5881
Epoch 155/500
359291/359291 [==============================] - 6s 18us/step - loss: 2196.4876 - mean_absolute_error: 2196.4888
Epoch 156/500
359291/359291 [==============================] - 6s 17us/step - loss: 2206.2678 - mean_absolute_error: 2206.2676
Epoch 157/500
359291/359291 [==============================] - 6s 18us/step - loss: 2193.9697 - mean_absolute_error: 2193.9700
Epoch 158/500
359291/359291 [==============================] - 6s 18us/step - loss: 2191.8152 - mean_absolute_error: 2191.8159
Epoch 159/500

### Prevendo com a Rede Neural Criada

In [55]:
# obtendo a previsão com os atributos previsores
previsoes = regressor.predict(previsores)

In [60]:
# visualizando as previsoes
print(previsoes)

[[  929.1093]
 [ 9953.767 ]
 [11752.752 ]
 ...
 [ 5715.6616]
 [ 3375.265 ]
 [26720.42  ]]

In [61]:
# visualizando os atributos meta
print(meta)

[  480 18300  9800 ...  9200  3400 28990]

Obsrve que os dados estão com um erro muito grande. Entretanto, a média dos dados tende a ser muito próxima.

In [57]:
# obtendo a média dos atributos meta
meta.mean()

5916.833945186492

In [58]:
# obtendo a média das previsões do algoritmo em relação aos atributos previsores
previsoes.mean()

5398.326

### Alguma Dúvida? Entre em Contato Comigo:

- [Me envie um e-mail](mailto:alysson.barbosa@ee.ufcg.edu.br);